div#main {
  	margin: 20px 0px;
}


/* main menu */
#mainNav {
	font-weight: 700;
	text-transform:uppercase;
	margin-top:20px;
}

#mainNav .nav > li {
	float: left;
}

#mainNav .nav-dropdown > ul {
	display: none;
	position: absolute;
	padding-left: 15px;
	z-index: 3;
	background-color: gainsboro;
}

#mainNav .nav-dropdown:hover > ul {
	display: block;
}

#mainNav .nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

#mainNav .nav-dropdown > ul li {
	width: 200px;
	list-style: none;
	padding: 4px 0px;
}

#mainNav a {
	color: #000;	
}

#mainNav a:hover,
#mainNav li.nav-selected > a,
#mainNav li.nav-path-selected > a { 
	color: #66aa33;
	text-decoration: none;
}

/* slider */
.flex-direction-nav a {
	overflow: visible;	
}

/* sticky footer */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}


